boto3==1.11.6
python-dotenv
#linting
flake8==3.7.9
flake8-boto3==0.3.0
black==22.1.0
typed-ast==1.5.1
# fix incompatibility of black with click versions
click==8.0.2
toml==0.10.2
flake8-black==0.1.2
mypy==1.8.0
mypy-boto3==1.13.24.2
boto3-stubs[lambda]
boto3-stubs[dynamodb]
prompt_toolkit
isort
pytest

nodeenv
